.grid,
.row,
body {
  display: flex;
}

.row,
body {
  justify-content: center;
  align-items: center;
}

.grid,
body {
  flex-direction: column;
}

body {
  gap: 1em;
}

.grid {
  height: 60rem;
  width: 60rem;
  border: 1px solid black;
}

button {
  margin-bottom: 1rem;
}
